
html {font-size: 16px; scroll-behavior: smooth;}
body { margin: 0; padding: 0; background-color: rgb(225, 225, 225); min-width: 400px;}
ul {margin: 0;}

/******* inside the navigation bar *******/
header { width:100%; margin: 0; padding: 0; height: 4rem; background-color: #333; display: flex; align-items: left; justify-content: space-between;/* border: 2px solid pink; */ position: fixed; top: 0; }
.navi-logo{width: 20%;margin: 0;padding: 0; margin-left: 15%;}
.navi-logo a{text-decoration: none;color: white; font-family: 'Permanent Marker', cursive; font-size: 2rem;}
header img{height: 100%;/* vertically align the text next to it */vertical-align:middle;}
nav {width: 45%;margin-right: 10%;display: flex;align-items: center;justify-content: center;}
nav ul{width: 100%;max-height: 100%;margin: 0;padding: 0;display: flex;list-style: none;justify-content: space-between;align-items: center;/* automatically moves the felxbox to the next col/row along the direction */flex-wrap: wrap;}
nav li{margin: 0;padding: 0;height: 100%;}
nav a{color: white;text-align: center; text-decoration: none;}
nav a::before{content: '';display: block;height: 2px;width: 0%;background-color:white;top: 0;transition: all ease-in-out 250ms;}
nav a:hover::before {width: 100%;}
#NaviLogo{/*To make Safari happy*/width: 4rem; margin-right: 0.3rem;}

.menu_bar{margin-right: 10%;display: none;}
.bar1, .bar2, .bar3 {width: 2rem;height: 5px;background-color: white;margin: 6px auto;transition: 0.4s;color: white;}
.show .bar1 {-webkit-transform: rotate(-45deg) translate(-9px, 6px);transform: rotate(-45deg) translate(-9px, 6px);}
.show .bar2 {opacity: 0;}
.show .bar3 {-webkit-transform: rotate(45deg) translate(-8px, -8px);transform: rotate(45deg) translate(-8px, -8px);}



/******* the main page section *******/
.main-page {background-color: white;width: 65%; margin: auto;margin-top: 8rem;margin-bottom: 8rem;border-radius: 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding-bottom: 3rem; /*for now, will fix to make if fully responsive*/ /*max-width: 65rem; min-width: 50rem;*/}
section{width: 100%;margin-bottom: 3rem;}
hr {height:1px;width: 100%;border-width:0;color:gray;background-color:rgb(129, 2, 2);}
.container {margin: 2rem;}
.sub-header{font-size: 1.4rem;margin: 0.8rem 0;}

/************** About Section **************/
.about{display: flex;width: 100%;justify-content: space-between;align-items: stretch;}
.about img{width: 100%;}
.about-left{width: 35%;text-align: center;margin-bottom: 0.5rem; margin-left: 5%;}
#photo {display: block;margin: 25% auto 0;width: 90%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.about-left h2{font-size: 2rem;color: black;text-align: center;margin-top: 1rem;margin-bottom: 0;}
#kai {margin: 0 auto 5%;display: block;width: 45%; }
.about-left a{text-decoration: none;color: black;font-size: 0.9rem;}
.about-left a:hover{color: blue;}
.about-right{width: 60%;}
.about-right h2{margin-top: 15%;text-align: center;}
.about-right p{font-size: 1.2rem;margin: 2rem;}
.about-right a{text-decoration: none;color: brown;}


/************** News Section **************/
.news .date{color: red;}


/************** Publicstions Section **************/
.publications .container{display: flex;flex-direction: column;font-size: 0.9re}
.publication-item  {margin: 1rem 0;display: flex;justify-content: space-between;align-items: flex-start;}
.publication-item img{width: 30%;margin: 0.3rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.publication-item-info{width: 70%;margin: 0.3rem;display: flex;flex-direction: column;justify-content: space-between;}
.publication-item-title{font-weight: bold;margin-top: 0.3rem;}
.publication-item-info p, .publication-item-info div{margin: 0.2rem;}
.publication-item-authors{color: blue;}
.publication-item-bold{font-weight: bold;}
.publication-item-details a{text-decoration: none;color: brown;}
.publication-item-details a:hover{text-decoration: underline blue;color: blue;}






/************** Projects Section **************/
/* .projects .container{display: flex;flex-direction: column;}
.project-gallery{display: flex;flex-direction: row;justify-content: left space-between;flex-wrap: wrap;}
.project-item{width: 30%;display: flex;flex-direction: column;margin-bottom: 1rem;}
.project-item-header{margin: 0 1rem;display: flex;flex-direction: column; padding: 0;}
.project-item-title{width: 100%;font-weight: bold;text-align: center;vertical-align: auto;margin: 0;}
.project-item-header img{width: 100%;max-height: 80%; height: 12rem;margin: 0; padding: 0;}
.project-item-info{height: 80%;margin: 0 1rem;display: flex;flex-direction: column;justify-content: space-between;}
.project-item-bio{margin: 0;}
.project-item-details{margin: 0;} */

.projects .container{display: flex;flex-direction: column;}
.project-gallery{display: flex;flex-direction: row;justify-content: flex-start;flex-wrap: wrap;}
.project-item{width: 27%;display: flex;flex-direction: column;margin-bottom: 1rem; margin: 1rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border: 1px solid black;}
.project-item-title{width: 100%;font-weight: bold;text-align: center;vertical-align: auto;margin: 0;}
.project-item img{width: 100%;max-height: 80%; height: 12rem;margin: 0; padding: 0;}
.project-item-info{height: 80%;margin: 0 0.5rem;display: flex;flex-direction: column;justify-content: space-between;}
.project-item-bio{margin: 0;}
.project-item-details{margin: 0;}
.project-item-details a{text-decoration: none; color: brown;}
.project-item-details a:hover{color: blue;}

/************** Working Section **************/
.working .container{display: flex;flex-direction: column;}
.working-item{margin: 1rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding: 1rem;}
.working-item:hover{box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 5px rgba(0, 0, 0, 0.19);}
.working-item-title{color: brown;font-size: 1.1rem;margin: 0;}
.working-item-info{color: black;font-weight: bold;display: flex;justify-content: space-between;}
.working-item-date{color: gray;}
.working-item li {margin: 1rem 0;}

/************** Teaching Section **************/
.teaching-prefix{color: brown;}


/* media query */

@media screen and (max-width: 1200px){

    .menu_bar{display: block;margin: auto 0rem; width: 30%;}
    .navi-logo{width: 40%;}
    
    nav{width: 30%;margin-right: 0%;background-color: #333;margin-top: 0;align-items: flex-start;position: absolute;top: 4rem;right: 0;display: none;}
    nav ul{display: flex; flex-direction: column; max-height: 70vh; margin: 0; padding: 0; background-color: #333;}
    nav li{margin: 1rem 0;text-align: center;}
    
    
    .main-page{min-width: 30rem;}
    .about{flex-direction: column; align-items: center;}
    .about-left{width: 100%;text-align: center;margin-bottom: 0.5rem; margin-left: 0%; margin-top: 0;}
    #kai{width: 20%;}
    .about-right{width: 100%; margin-top: 0;}
    .about-right h2{margin-top: 5%;text-align: center;}
    .project-gallery{flex-direction: column;}
    .project-item{width: 80%; max-width: 20rem;}
}


@media screen and (max-width: 800px){
    .main-page{min-width: 30rem;}
    .about{flex-direction: column; align-items: center;}
    .about-left{width: 100%;text-align: center;margin-bottom: 0.5rem; margin-left: 0%;}
    .about-right{width: 100%;}
    .about-right h2{margin-top: 5%;text-align: center;}
    .publication-item {margin: 0.3rem;}
    .publication-item img{width: 0%; display: none; margin: 0;}
    .publication-item-info{width: 100%; margin: 0; justify-content: flex-start; padding: 0;}
    .publication-item-info p{margin: 0; padding: 0;}
    .project-gallery{flex-direction: column;}
    .project-item{width: 80%;}
}


@media screen and (max-width: 400px){
    .navi-logo span{display: none;}
}


/******* Debug Border Section *******/
/* .navi-logo{border: 2px solid red;}
nav {border: 4px solid blue;}
nav ul{border: 2px solid red;}
nav li{border: 2px solid yellow} */



/* section {border: 3px solid blue;}
.about img{border: 2px solid red;}
.about-left{border: 2px solid yellow;}
.about-left h2{border: 2px solid blue;}
.about-right{border: 2px solid purple;}
.publication-item  {border: 2px solid red;}
.publication-item img{border: 2px solid green;}
.publication-item-info{border: 2px solid green;}
.publication-item-info p, .publication-item-info div{border: 2px solid cyan;}
.project-gallery{border: 2px solid green;}
.project-item{border: 2px solid red;}
.project-item-title{border: 2px solid purple;}
.project-item img{border: 4px solid red;}
.project-item-info{border: 2px solid purple;}
.project-item-bio{border: 3px solid blue;}
.project-item-details{border: 3px solid greenyellow;}
.working-item{border: 2px solid green;}
.working-item-info{bold;border: 2px solid cyan;}
.working-item-company{border: 2px solid purple;}
.working-item-date{border: 2px solid red;} */
